<h2>Add a new Word</h2>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new_word">Enter a Word</label>
    <input type="text" name="new_word" id="n">
  </div>
  <button type="submit">Add a new Word</button>
</form>