body {
  background-image: url('/img/picture.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: rgb(66, 65, 141);
}

.container {
  background-color: rgb(248, 239, 225);
}

a {
  color: brown;
}

